@font-face {
  font-family : "NanumBarun";
  font-weight : normal;
  font-style: normal;
  src : url('./fonts/NanumBarunGothic.ttf') format("truetype");
}

@font-face {
  font-family : "Pretendard";
  src : url('./fonts/Pretendard-Medium.ttf') format("truetype");
}


body {
  margin: 0;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Pretendard", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
