.stock-management-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"], input[type="number"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 200px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.stock-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* .text-input-form{
    height : 10px;
} */

.stock-form input, .stock-form .react-datepicker-wrapper {
    margin-right: 10px;
}

ul.stock-list {
    list-style-type: none;
    padding: 0;
}

ul.stock-list li {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul.stock-list li:nth-child(odd) {
    background-color: #f1f1f1;
}

.stock-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.stock-table th, .stock-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.stock-table th {
    cursor: pointer;
    background-color: #f4f4f4;
    white-space: nowrap;
}

.stock-table th:hover {
    background-color: #e2e2e2;
}

.stock-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    padding: 8px 16px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}


.modal {
    position: fixed;
    z-index: 10; /* z-index 값을 더 크게 설정하여 가려지지 않게 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex; /* 팝업창을 가운데 정렬 */
    justify-content: center;
    align-items: center;
}


.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}
